@media (max-width: 832px) {
    .header {
        column-gap: 20px;
    }

    .header__navigation {
        display: none;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        background-color: white;
        align-items: center;
        justify-content: center;
    }

    .header__navigation-list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .header__burger-button {
        display: flex;
    }

    .button--header-button {
        width: 50%;
    }

    .header__navigation-list-link {
        font-size: 1.22rem;
    }
    .stats__list {
        flex-direction: column;
        row-gap: 30px;
    }
    .about-us {
        flex-direction: column;
    }
    .about-us__text-container,
    .about-us__background-container {
        width: 100%;
    }
    .about-us__text-container {
        text-align: center;
        align-items: center;
    }
}