@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Light.ttf') format('truetype');
    font-display: swap;
}